body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background-image: url("images/Background/lamborghini.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Main layout */
.title-sec {
  height: 91vh;
}
.overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.title, .slogan {
  text-align: center;
}
img {
  width: 40px;
  height: 40px;
}

/* Nav Bar */
.low-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar {
  display: flex;
  flex-direction: row;
}
.nav-bar div {
  margin: 0;
}
button {
  background-color: transparent;
  border-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}
button:active {
  background-color: blue;
}
button div {
  margin: 0;
}
button p {
  margin: 0;
}

/* Sidebar */
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  background-color: rgba(255,255,255,0.8);
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  padding-top: 80px;
  z-index: 100;
}

aside.active {
  transform: translateX(0);
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li {
  margin: 20px 0;
  text-align: center;
}

aside ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
input {
  width: 250px;
  height: 42px;
  border: none;
  border-radius: 20px;
  padding-left: 15px;
  font-size: 17px;
  text-decoration: none;
  
}

.search-b {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: white;
  border-radius: 23px;
  width: 298px;
  height: 46px;
  
}
.search-b button {
  border-radius: 50%;
}
